body{
    background: pink;
}
h1{
    font: 28pt arial;
    text-align: center;
    color: aliceblue;
}
section{
    font: 13pt arial;
    margin: auto;
    width: 460px;
    padding: 20px; 
    background: white;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.205)
}
div#saída{
    padding-top: 20px;
}
div#finalizar{
    padding-top: 10px;
}

select#table{
    width: 200px;
}